body {
	overflow-x: hidden;
}

div {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#airplane {
	position: relative;
	width: 142px;
	left: 55%;
	right: -10.53%;
	top: -20px;
	margin-bottom: 2px;
	transform: rotate(20deg);
}

#logo {
	width: 200px;
	margin-bottom: 3rem;
}

#welcome{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 21px;
	font-weight: 500;
	color: white;;
	margin-bottom: 5px;
}

#passport {
	position: relative;
	width: 64.45px;
	right: 65%;
	transform: rotate(-25deg);
	margin-bottom: 2rem;
}

.divButtons {
	background-color: white;
}

button {
  border-radius: 15px;
  height: 2rem;
  width: 210px;
  margin: 18px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 1px;
}

#btnRegister, #btnLogin, #buttonRegister {
	background-color: #F25040;
	border-color: none;
	border-style: none;
	color: white;
}

#btnGoogle {
	vertical-align: center;
	background-color: #ffffff;
	border: 1px solid #C8C8C8;
	color: #6D6D6D;
}

#labelO {
	color: #737373;
	font-size: 20px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 500;
}

#eyeOff, #eyeOn {
	position: absolute;
	width: 1rem;
	right: 40px;
	top: 135px;
	opacity: 0.5;
}

#labelRegister {
	font-family: 'Bowlby One', cursive;
	font-size: 28px;
	position: relative;
	right: 9%;
	color: #F25040;
}

#labelSub {
	font-family: 'Merriweather Sans', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 21px;
	color: #6D6D6D;
	letter-spacing: 1px;
	position: relative;
	top: -5px;
	right: 10%;
	margin-bottom: 40px;
}

.divFormRegister {
	border: 1px solid #E3E3E3;
	border-radius: 15px;
	box-sizing: border-box;
	box-shadow: 0 0 15px #e4e4e4;
	padding: 37px;

}

input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #F25040;
	margin-bottom: 32px;
}

input::placeholder {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 14px;
	color: #AEAEAE;
	letter-spacing: .5px;
}
